.tabs
    display: none
.account
    &__inner
        padding-top: 32px
        padding-bottom: 130px
        display: flex
        justify-content: space-between
    &__navbar
        height: 100%
        border: 1px solid #ECF0FA
        box-sizing: border-box
        width: 20%
        padding-top: 32px
        padding-bottom: 32px
    &__photo
        margin: 0 auto
        text-align: center
    &__name
        margin-top: 16px
        font-weight: 700
        color: $black
        padding-left: 32px
        font-size: 20px
        line-height: 27px
    &__wrap
        box-sizing: border-box
        width: 77%
    &__links
        margin-top: 20px
    &__tab-link-active
        background: $blue
        color: $white !important
    &__link
        font-weight: 400
        font-size: 18px
        line-height: 24px
        color: $black
        padding-top: 12px
        padding-bottom: 12px
        width: 100%
        cursor: pointer
        padding-left: 32px
        transition: all 0.3s
    &__link-logout
        &:hover
            color: $red
            background: transparent

.account__personal-date
    padding: 24px
    border: 1px solid #ECF0FA
    &-title
        color: $blue
        font-weight: 600
        font-size: 16px
        line-height: 22px
        margin-bottom: 49px
    &-form
    &-items
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &-box
        position: relative
        display: flex
        flex-direction: column
        font-weight: 400
        font-size: 16px
        line-height: 22px
        color: $main-color
        width: 48%
        margin-bottom: 24px
        &:nth-child(2n)
            margin-left: 32px
    &-titles
        position: absolute
        background: $white
        left: 16px
        top: -4px
        padding: 0 8px
    &-input
        margin-top: 8px
        padding: 13px
        outline: none
        border: 1px solid $main-color
        border-radius: 25px
        box-sizing: border-box
    &-male
        margin-top: 10px
        display: flex
        align-items: center
        font-weight: 400
        font-size: 16px
        line-height: 22px
        span
            margin-right: 34px
    &-maleInput
        margin-right: 15px
    &-check
        & + .account__personal-date-check
            margin-left: 44px
    &-btn
        margin-top: 32px
        width: 100%
        border-radius: 30px
        background: $blue !important
        padding-top: 14px
        padding-bottom: 14px

.account__order
    &-item
        border: 1px solid #ECF0FA
        padding: 16px 24px
        display: flex
        justify-content: space-between
        & + .account__order-item
            margin-top: 24px
    &-wrap
        display: flex
        flex-direction: column
        justify-content: space-between
    &-number
        font-weight: 600
        font-size: 18px
        line-height: 24px
        color: $main-color
        margin-bottom: 11px
    &-delivery
        font-weight: 400
        font-size: 16px
        line-height: 24px
        color: $black
        margin-bottom: 15px
    &-cost
        font-size: 16px
        font-weight: 400
        line-height: 24px
        color: $black
    &-productPhoto
        width: 110px
        object-fit: contain
        object-position: center
        img
            width: 100%

.account__product
    &-wrap
        border: 1px solid #ECF0FA
    &-link
        cursor: pointer
        background: $main-color
        color: $white
        padding: 10px 24px 10px 16px
        img
            margin-right: 20px
    &-wraps
        padding: 24px
    &-number
        font-weight: 600
        color: $main-color
        font-size: 18px
        line-height: 24px
    &-status
        margin-top: 8px
        font-weight: 400
        font-size: 14px
        line-height: 22px
        color: $black
    &-box
        margin-top: 24px
        display: flex
        align-items: center
    &-img
        width: 95px
    &-descr
        font-weight: 400
        color: $black
        font-size: 14px
        line-height: 20px
        width: 45%
        margin-left: 20px
    &-items
        margin-top: 24px
        display: flex
        justify-content: space-between
    &-item
        width: 48%
        border: 1px solid #ECF0FA
        padding: 24px
    &-title
        font-weight: 600
        font-size: 18px
        line-height: 24px
        color: $main-color
    &-itemWrap
    &-itemBox
        display: flex
        margin-top: 16px
    &-itemTitle
        width: 45%
        font-weight: 600
        font-size: 16px
        color: $black
        line-height: 22px
    &-itemSubtitle
        word-wrap: break-word
        font-weight: 400
        font-size: 16px
        line-height: 22px
        color: $black
    &-itemBtn
        margin-top: 16px
        padding: 11px
        border-radius: 0 !important
        width: 60%

.account__favorite
    &-inner
        .catalog__items
            margin-right: -4%
        .catalog__item
            width: 30%
            margin-right: 3%
@media (max-width: 767px)
    .account
        &__inner
            flex-wrap: wrap !important
        &__navbar
            width: 100% !important
            margin-bottom: 25px !important
        &__wrap
            width: 100% !important
        &__name
            padding-left: 24px !important
        &__link
            padding-left: 24px !important

    .account__personal
        &-date-box
            width: 100%
            margin-left: 0 !important

    .account__product
        &-itemBox
            justify-content: space-between !important
        &-itemTitle
        &-itemSubtitle
            text-align: right !important
        &-descr
            width: 50% !important
        &-itemBtn
            width: 100% !important
        &-items
            flex-wrap: wrap !important
        &-item
            width: 100% !important
            & + .account__product-item
                margin-top: 25px !important

@media (min-width: 768px) and (max-width: 991px)
    .account
        &__navbar
            width: 25% !important
        &__wrap
            width: 72% !important
        &__name
            padding-left: 24px !important
        &__link
            padding-left: 24px !important

    .account__personal
        &-date-box
            margin-left: 0 !important

    .account__product
        &-itemBox
            justify-content: space-between !important
        &-itemTitle
        &-itemSubtitle
            text-align: right !important
        &-itemBtn
            width: 100% !important
        &-items
            flex-wrap: wrap !important
        &-item
            width: 100% !important
            & + .account__product-item
                margin-top: 25px !important

    .account__favorite
        &-inner
            .catalog__items
                margin-right: -5% !important
            .catalog__item
                width: 45% !important
                margin-right: 5% !important

@media (min-width: 992px) and (max-width: 1199px)
    .account
        &__navbar
            width: 25% !important
        &__wrap
            width: 72% !important
        &__name
            padding-left: 24px !important
        &__link
            padding-left: 24px !important

    .account__personal
        &-date-box
            margin-left: 0 !important

    .account__product
        &-itemBox
            justify-content: space-between !important
        &-itemSubtitle
            text-align: right
        &-itemBtn
            width: 100% !important

    .account__favorite
        &-inner
            .catalog__items
                margin-right: -5% !important
            .catalog__item
                width: 45% !important
                margin-right: 5% !important
