.basket
    &__inner
        padding-top: 32px
    &__title
        font-weight: 700
        font-size: 20px
        line-height: 27px
        color: $black
        margin-bottom: 24px
    &__items
    &__item
        padding: 20px 25px 20px 20px
        display: flex
        justify-content: space-between
        border: 1px solid #ECF0FA
        &-inner
            display: flex
            align-items: center
        input[type=checkbox]
            padding: 3px
        &-img
            margin-left: 24px
            width: 100%
        &-counter
            margin-left: 55px
        p
            margin-bottom: 0px
        &-wrap
            width: 45%
            margin-left: 24px
        &-subtitle
            color: #8F8F8F
            font-weight: 400
            font-size: 12px
            line-height: 16px
        &-clicks
            display: flex
            margin-top: 40px
        &-click
            cursor: pointer
            color: $green
            font-weight: 600
            font-size: 14px
            line-height: 19px
            & + .basket__item-click
                margin-left: 24px
                padding-left: 24px
                border-left: 1px solid #C4C4C4
        &-cost
            font-weight: 600
            margin-left: 4%
            color: #345BBE
            font-size: 14px
            line-height: 16px
        &-costDiscount
            text-decoration: line-through
            font-weight: 400
            color: #AFAFAF
            font-size: 10px
            margin-top: 8px
    &__order
        &-title
            margin-top: 32px
            font-weight: 700
            font-size: 22px
            line-height: 30px
            color: #505050
        &-wrap
            display: flex
            justify-content: space-between
            margin-top: 18px
            font-weight: 400
            font-size: 16px
            line-height: 22px
            color: $black
            border-bottom: 1px solid $main-color
            padding-bottom: 18px
        &-allCost
            margin-top: 18px
            display: flex
            justify-content: space-between
            color: #345BBE
            font-weight: 600
            font-size: 16px
            line-height: 22px
        &-min50
            margin-top: 18px
            color: #814747
            font-size: 12px
            line-height: 14px
            font-size: 400
            background: #F0F2F5
            border-radius: 20px
            text-align: center
            padding: 12px 16px
    &__btn
        width: 100%
    &__btnNo
        background: #A6A6A6 !important

@media (max-width: 767px)
    .basket
        &__item
            padding: 48px 24px 24px 24px !important
            padding-bottom: 32px !important
            flex-direction: column !important
            position: relative !important
            &-img
                width: 40% !important
                text-align: center !important
                display: block !important
                margin: 0 auto !important
                margin-bottom: 25px !important
            &-counter
                margin-left: 0 !important
                position: absolute !important
                top: 0px !important
                right: 0px !important
                .buttons
                    padding-top: 3px !important
                    padding-bottom: 3px !important
            &-wrap
                width: auto !important
                margin-left: 0 !important
            &-clicks
                margin-top: 25px !important
            &-cost
                margin-top: 25px !important
                margin-left: 0 !important
                text-align: right !important
                font-size: 18px !important
        &__order
            margin-top: 25px !important

@media (min-width: 768px) and (max-width: 991px)
    .basket
        &__item
            padding: 48px 24px 24px 24px !important
            padding-bottom: 32px !important
            flex-direction: column !important
            position: relative !important
            &-img
                width: 40% !important
                text-align: center !important
                display: block !important
                margin: 0 auto !important
                margin-bottom: 25px !important
            &-counter
                margin-left: 0 !important
                position: absolute !important
                top: 0px !important
                right: 0px !important
                .buttons
                    padding-top: 3px !important
                    padding-bottom: 3px !important
            &-wrap
                width: auto !important
                margin-left: 0 !important
            &-clicks
                margin-top: 25px !important
            &-cost
                margin-top: 25px !important
                margin-left: 0 !important
                text-align: right !important
                font-size: 18px !important
        &__order
            margin-top: 25px !important

@media (min-width: 992px) and (max-width: 1199px)
    .basket
        &__item
            &-wrap
                width: 50% !important
            &-counter
                margin-left: 0 !important
            &-cost
                width: 15% !important
                margin-left: 0 !important
