.none-1, .none-2, .none-3, .none-4
    display: none
    img
        transition: all .2s linear
        &.active
            transform: rotate(180deg)

.filter
    &__form-input1,
    &__form-input2
        width: 70px
        border-radius: 20px
        border: none
    &-button
        padding: 10px 20px
    &__title
        margin-top: 32px
        margin-bottom: 24px
        font-weight: 700
        color: $main-color
        font-size: 24px1
    &__inner
        padding-right: 10vw
        display: flex
        justify-content: space-between
    &__options
        background: #F0F2F5
        border-radius: 0px 50px 50px 0px
        width: 29%
        padding: 32px 40px
    &__box1
        cursor: pointer
        margin-bottom: 20px
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12)
        border-radius: 0 25px 0 0
    &__box1-title
        background: #F0F2F5
        border-radius: 0 25px 0 0
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25)
        padding: 10px 12px
        display: flex
        justify-content: space-between
        p
            margin: 0
        img
            transition: all .2s linear
        &.active
            img
                transform: rotate(180deg)
    &__box1-item
        background: #F0F2F5
        padding: 15px 12px
        display: none
    &__box1-link
        & + .filter__box1-link
            margin-top: 15px
    &__box-title
        font-weight: 600
        font-size: 16px
        line-height: 22px
        margin-bottom: 15px
        display: flex
        justify-content: space-between
        align-items: center
        cursor: pointer
        p
            margin: 0
            span
                font-size: 12px
                margin-left: 2px
        img
            width: 11px
            height: 8px
            margin-right: 12px
            transition: all .2s linear
        &.active
            img
                transform: rotate(180deg)
    &__box2
        & + .filter__box2
            margin-top: 32px
    &__catalogs
        width: 70%
        display: flex
        flex-wrap: wrap
        margin-right: -3%
        .catalog__item
            width: 30%
            margin-right: 3%
    &__form
        display: flex
        justify-content: space-between
        position: relative
        input
            width: 48%
            background: transparent
            border: 1px solid #9C9C9C
            font-size: 12px
            padding: 5px 10px 5px 30px
            position: relative
        label
            position: absolute
            font-size: 12px
            color: #9C9C9C
            top: 4px
        &-lab1
            left: 5%
        &-lab2
            left: 56%
    &__container
        display: block
        position: relative
        padding-left: 30px
        margin-bottom: 14px
        cursor: pointer
        font-size: 14px
        line-height: 19px
        color: #525252
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        input
            position: absolute
            opacity: 0
            cursor: pointer
            height: 0
            width: 0
        .checkmark
            position: absolute
            top: 0
            left: 0
            height: 20px
            width: 20px
            background-color: transparent
            border: 1px solid #9C9C9C
            &::after
                content: ""
                position: absolute
                display: none
        &:hover input ~ .checkmark
            background-color: #ccc
        input:checked ~ .checkmark
            background-color: transparent
        input:checked ~ .checkmark:after
            display: block
        .checkmark
            &::after
                left: 7px
                top: 3px
                width: 5px
                height: 10px
                border: solid $main-color
                border-width: 0 3px 3px 0
                -webkit-transform: rotate(45deg)
                -ms-transform: rotate(45deg)
                transform: rotate(45deg)

@media (max-width: 767px)
    .filter
        &__inner
            padding-right: 15px !important
            flex-wrap: wrap !important
        &__options
            width: 100%
            margin-bottom: 40px
            padding: 32px
        &__catalogs
            width: 100%
            margin-right: 0
            padding-left: 15px
            .catalog__item
                margin-right: 0
                width: 100%
@media (min-width: 768px) and (max-width: 991px)
    .filter
        &__inner
            padding-right: 30px !important
        &__options
            padding: 32px 20px
        &__catalogs
            margin-right: 0 !important
            width: 67%
            .catalog__item
                width: 47% !important
@media (min-width: 992px) and (max-width: 1199px)
    .filter
        &__inner
            padding-right: 7vw
        &__catalogs
            margin-left: 0%
            .catalog__item
                width: 47% !important
