.link1
    &__img
        img
            width: 100%
    &__inner
        padding-top: 32px
        padding-bottom: 150px
    &__wrap2
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    &__title
        margin-top: 32px
        font-weight: 700
        font-size: 32px
        line-height: 37px
        color: #181818
    &__subtitle, &__descr
        margin-top: 24px
        font-weight: 400
        color: #181818
        font-size: 14px
        line-height: 22px
        p
            margin: 0
    &__maps
        margin-top: 32px
        iframe
            height: 180px
            width: 460px
    &__descr2
        text-align: center

@media (max-width: 767px)
    .link1__maps
        iframe
            width: 100% !important
    .link1__wrap2
        align-items: inherit !important
