@media (max-width: 900px)
    .h-catalog__btn
        padding: 5px 10px
        font-size: 15px
        line-height: 20px


    .h-catalog__wrap2,.h-catalog__wrap3
        padding: 20px

    .h-catalog__link
        font-size: 15px
        line-height: 20px

    .h-catalog__link + .h-catalog__link
        margin-top: 10px

@media (max-width: 767px)

    .header
        &__nav
            display: none
        &__menu
        &__inner
            flex-wrap: wrap
        &__logo
            width: 48%
            display: flex
            justify-content: flex-end
        &__catalog
            width: 50%
        &__search
            margin-top: 30px
            width: 100%
        &__btns
            margin-top: 30px
            width: 100%
        &__offer
            display: none

    .h-catalog__wrap1
        width: 100%

    .h-catalog__inner
        width: 92%

    .h-catalog__wrap4
        display: none

    .container-fluid
        padding-left: 15px !important
        padding-right: 15px !important

    .main
        &__slider
            &-wrap
                position: absolute
                bottom: 0
                left: calc( 50% - 40% )
                transform: (-50%, -50%)
                background-color: $white
                width: 80%
                border-radius: 50px 50px 0px 0px
            &-title
                font-size: 2.25rem

    .cards
        &__item
            width: 100% !important
            margin-bottom: 30px !important

    .catalog
        &__wrap
            flex-wrap: wrap !important
            flex-direction: column !important
        &__tabs
            flex-wrap: wrap !important
            justify-content: left !important
            align-items: left !important
            flex-direction: column !important
        &__tab
            margin-bottom: 20px !important
            margin-left: 0 !important
            width: 100% !important
        &__items
            margin-right: 0 !important
        &__item
            margin-right: 0 !important
            width: 100% !important

    .best-deal
        &__items
            margin-right: 0 !important
        &__item
            width: 100% !important
            margin-right: 0 !important

    .interest
        overflow: hidden

    .footer
        margin-top: 100px !important
        &__up
            top: 32px !important
        &__links
            flex-direction: column !important
            justify-content: flex-start !important
            align-items: flex-end !important
        &__link
            margin-bottom: 16px !important

@media (min-width: 768px) and (max-width: 991px)

    .container-fluid
        padding-left: 30px !important
        padding-right: 30px !important

    .h-catalog
        &__inner
            height: auto !important
            width: 93% !important

    .header
        &__logo
            width: 14% !important
        &__catalog
            width: 18% !important
        &__search
            width: 45% !important
        &__btns
            width: 18% !important
        &__offer
            display: none

    .interest
        &__slider
            .catalog__item
            width: 100% !important

    .catalog
        &__items
            margin-right: -4% !important
        &__item
            margin-right: 3% !important

    .best-deal
        &__items
            margin-right: -4% !important
        &__item
            width: 30% !important
            margin-right: 3% !important

@media (min-width: 992px) and (max-width: 1199px)

    .container-fluid
        padding-right: 7vw
        padding-left: 7vw

    .h-catalog
        &__inner
            height: auto !important
            width: 86vw !important

    .header
        &__logo
            width: 12% !important
        &__catalog
            width: 16% !important
        &__search
            width: 47% !important
        &__btns
            width: 18% !important
        &__offer
            display: none

    .catalog
        &__items
            margin-right: -4% !important
        &__item
            margin-right: 3% !important

    .interest
        &__slider
            .catalog__item
            width: 100% !important

    .best-deal
        &__item-title
            padding-top: 15px !important
            padding-bottom: 15px !important
            padding-left: 10px !important
            padding-right: 10px !important

@media(max-width: 650px)
    .h-catalog__inner
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        height: auto
    .h-catalog__wrap1, .h-catalog__wrap2, .h-catalog__wrap3
        width: auto

@media(max-width: 500px)
    .h-catalog__inner
        display: grid
        grid-template-columns: 1fr 1fr
        height: auto
    .h-catalog__wrap1
        grid-column-start: 1
        grid-column-end: 3
        flex-direction: row

    .h-catalog__wrap1 img
        height: 150px


@media(max-width: 400px)
    .h-catalog__wrap2, .h-catalog__wrap3
        padding: 10px
    .h-catalog__link
        font-size: 13px
        line-height: 18px










