.overlay2, .overlay3
    display: none
    position: fixed
    width: 100%
    top: 0
    height: 100%
    background: rgba(0, 0, 0, 0.5)
    z-index: 2000

#login, #registration
    display: none

.modalLogin, .modalRegistration
    width: 27rem

.modal, .modalLogin, .modalRegistration
    overflow-y: auto
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15)
    border-radius: 30px
    background-color: #ffffff
    padding: 30px 60px 40px 60px
    height: auto
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    &__close
        position: absolute
        top: 0px
        right: 24px
        font-size: 35px
        color: black
        cursor: pointer
    &__title
        color: $main-color
        font-weight: 600
        font-size: 1.5rem
        text-align: center
        margin-bottom: 2.5rem
    &__form
        .account__personal-date-box
            margin-left: 0
            width: 100%
        .account__personal-date-input
            width: 100% !important
    &__btns
        margin-top: 50px
    &__btn
        width: 100%
        border-radius: 30px
        border: 1px solid $main-color
        text-align: center
        padding: 12px 0
        & + .modal__btn
            margin-top: 20px
    &__btn1
        background: $main-color
        color: $white
    &__btn2
        background: transparent
        color: $main-color

@media (max-width: 767px)

    .modal, .modalLogin, .modalRegistration
        padding: 30px 15px 15px 15px !important
        width: 95%
        overflow: scroll
        max-height: 90%

    .modal
        &__close
            right: 10px !important
            top: 0px !important

@media (min-width: 768px) and (max-width: 991px)
    .modal, .modalLogin, .modalRegistration
        padding: 40px 25px 25px 25px !important
