
.ordering
    padding-top: 32px
    padding-bottom: 32px
    &__title
        margin-bottom: 32px
        font-weight: 700
        font-size: 20px
        line-height: 27px
        color: $black
    &__wrap
        display: flex
        justify-content: space-between
    &__contacts, &__delivery
        border: 1px solid #ECF0FA
        box-sizing: border-box
        border-radius: 30px 30px 0px 0px
        padding: 24px 32px
    &__form1
        margin-top: 36px
        .account__personal-date-box
            margin: 0
            width: 90%
            margin-bottom: 30px
    &__form2
        margin-top: 36px
        .account__personal-date-box
            margin: 0
            width: 70%
            margin-bottom: 30px
    &__form-wrap
        display: flex
        .account__personal-date-box
            width: 34%
            margin-right: 2%
    &__contacts
        width: 34%
    &__delivery
        width: 64%
    &__delivery-descr
        background: #F0F2F5
        color: #814747
        font-weight: 400
        font-size: 14px
        padding: 9px 32px
    &__payment-inner
        display: flex
        justify-content: space-between
    &__payment-wrap, &__payment-wrap2
        border: 1px solid #ECF0FA
        padding-top: 24px
        padding-left: 32px
        padding-bottom: 24px
        padding-right: 32px
    &__payment-wrap
        width: 34%
    &__payment-wrap2
        width: 64%
    &__payment-title
        color: $main-color
        font-weight: 600
        font-size: 16px
        line-height: 22px
    &__payment-checkbox
        color: $black
        font-size: 16px
        line-height: 22px
        font-weight: 400
        margin-top: 35px
        input
            margin-right: 14px
    &__payment-wrap3
        margin-top: 18px
    &__payment-link
        font-weight: 400
        color: $black
        font-size: 16px
        line-height: 22px
        & + .ordering__payment-link
            margin-top: 16px
        span
            font-weight: 700
    &__payment-btn
        outline: none !important
        margin-top: 24px
        width: 100%
        font-size: 18px !important

@media (max-width: 767px)
    .ordering
        &__wrap
            flex-wrap: wrap !important
        &__contacts
            width: 100% !important
            border-radius: 0 !important
            margin-bottom: 30px !important
        &__delivery
            width: 100% !important
            border-radius: 0 !important
        &__form1
            .account__personal-date-box
                width: 100% !important
        &__form2
            .account__personal-date-box
                width: 100% !important
        &__form-wrap
            justify-content: space-between !important
            .account__personal-date-box
                width: 49% !important
        &__payment
            &-inner
                flex-wrap: wrap !important
            &-wrap
                width: 100% !important
            &-wrap2
                margin-top: 25px
                width: 100% !important

@media (min-width: 768px) and (max-width: 991px)
    .ordering
        &__payment
            &-wrap
                width: 40% !important
            &-wrap2
                width: 58% !important
        &__form1
            .account__personal-date-box
                width: 100% !important
        &__form2
            .account__personal-date-box
                width: 100% !important
        &__form-wrap
            justify-content: space-between !important
            .account__personal-date-box
                width: 48% !important
