.product
    border: 1px solid #ECF0FA
    box-sizing: border-box
    padding: 32px 80px 32px 100px
    margin-bottom: 64px
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
    &__wrap
        width: 54%
    &__images
        width: 40%
        img
            width: 100%
        &-wrap
            display: flex
            justify-content: space-between
            img
                width: 19%
    &__title
        font-size: 32px
        line-height: 44px
        font-weight: 700
        color: #505050
    &__stock
        color: #10A600
        font-size: 15px
        line-height: 20px
        font-weight: 300
        margin-top: 8px
    &__subtitle
        margin-top: 28px
        font-weight: 600
        font-size: 18px
        line-height: 24px
        color: #505050
    &__descr
        margin-top: 16px
        font-weight: 400
        font-size: 16px
        line-height: 21px
        color: #505050
    &__btns
        display: flex
        align-items: center
        margin-top: 40px
    &__button
        width: 50%
    &__pieces
        padding-top: 12px
        padding-bottom: 13px
        font-weight: 400
        font-size: 16px
        line-height: 21px
        color: $black
        display: flex
        justify-content: center
        align-items: center
        border-radius: 30px
        border: 1px solid $main-color
        margin-left: 18px
        min-width: 20%
    &__favorite
        margin-left: 18px

@media (max-width: 767px)
    .product
        padding-left: 15px !important
        padding-right: 15px !important
        &__inner
            flex-wrap: wrap
        &__wrap
            width: 100%
        &__images
            width: 100%
            margin-bottom: 60px
            img
                width: 80% !important
            &-wrap
                img
                    width: 18% !important
        &__btns
            flex-wrap: wrap !important
            justify-content: space-between !important
        &__button
            width: 100% !important
            margin-bottom: 20px !important
        &__pieces
            width: 40% !important
            margin-left: 0 !important

@media (min-width: 768px) and (max-width: 992px)
    .product
        &__inner
            flex-wrap: wrap
        &__wrap
            width: 100%
        &__images
            width: 100%
            margin-bottom: 60px
            img
                width: 80% !important
            &-wrap
                img
                    width: 18% !important
