@import "vars"
@import "libs"
@import "fonts"
@import 'link'
@import 'basket'
@import 'account'
@import 'ordering'
@import 'product'
@import 'modal'
@import 'filter'

//==================================GLOBAL===================================

html
    box-sizing: border-box

*,*::before,*::after
    box-sizing: inherit

*
    font-family: 'Open Sans', sans-serif
    outline: none !important

a
    text-decoration: none !important
    outline: none !important

h1,h2,h3,h4,h5,h6
    margin: 0

.container-fluid
    padding-left: 10vw
    padding-right: 10vw

.button
    border: none
    font-weight: 600
    padding-top: 12px
    padding-bottom: 13px
    background: #497ECD
    font-size: 18px
    line-height: 24px
    text-align: center
    color: $white
    border-radius: 30px

.buttons
    width: 85px
    border: 1px solid #31AC80
    box-sizing: border-box
    border-radius: 20px
    display: flex
    align-items: center
    justify-content: space-between
    padding: 3px 3px
    button
        border: none
        background: transparent
        color: $main-color
        outline: none !important
        .amount
            font-weight: 400
            font-size: 16px
            color: $black

.title
    text-align: center
    font-weight: 700
    line-height: 27px
    color: #383838
    text-transform: uppercase
    font-size: 1.25rem

//===========================MAIN-PAGE INDEX.HTML========================

.header
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05)
    position: relative
    &__inner
    &__nav
        background: $blue
        padding: 14px
        font-size: 0.875rem
        line-height: 19px
        font-weight: 400
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05)
    &__nav-link
        & + .header__nav-link
            margin-left: 32px
    &__nav-phone
        margin-left: 55px
    &__nav-location
        display: flex
        align-items: center
        img
            margin-left: 4px
    &__nav-phone, &__nav-location, &__nav-link
        color: $white
        &:hover
            color: $white
    &__nav-wrap2
        display: flex
        justify-content: flex-end
    &__nav-wrap, &__nav-wrap2
        padding-left: 0
        padding-right: 0
    &__menu
        background: #FFFFFF
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.05)
    &__inner
        justify-content: space-between
        align-items: center
        display: flex
        padding-top: 25px
        padding-bottom: 25px
    &__logo
        width: 10%
    &__catalog
        height: 50px
        width: 13%
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25)
        border-radius: 25px
        border: none
        background: $main-color
        color: $white
        font-weight: 700
        font-size: 1.125rem
        line-height: 24px
        display: flex
        align-items: center
        justify-content: center
        img
            margin-right: 8px
    &__search
        width: 55%
        height: 50px
        input
            width: 100%
            background-color: #FFFFFF
            box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25)
            border-radius: 25px
            border: none
            padding: 12px 45px 12px 20px
            background-image: url('../img/main-page/search.svg')
            background-repeat: no-repeat
            background-position: center
            background-position-x: 98%
    &__btns
        display: flex
        justify-content: space-between
        width: 15%
    &__favorite
    &__basket
    &__account
    &__offer
        background: $white
        border-radius: 50px 50px 0px 0px
        padding: 4px 37px 0 37px
        position: absolute
        z-index: 1000
        top: 5%
        left: 42%
        color: $blue
        &-h1
            font-weight: 600
            font-size: 20px
            margin: 0
        &-h2
            font-weight: 400
            font-size: 12px
            margin: 0

.h-catalog
    position: relative
    display: none
    &__inner
        position: absolute
        z-index: 1000
        box-shadow: 0px 6px 4px 4px rgba(0, 0, 0, 0.25)
        background: $white
        width: 80%
        display: flex
        justify-content: space-between
        height: 600px
    &__wrap
        & + .h-catalog__wrap
            border-left: 1px solid #EBEBEB
    &__wrap1
        width: 20%
        display: flex
        flex-direction: column
        justify-content: space-between
        overflow: hidden
        img
            width: 100%
            padding: 10px 15px
            height: 70%
            object-fit: cover
            border-radius: 30px
    &__wrap2, &__wrap3
        padding: 20px 45px
    &__wrap2
        width: 27%
    &__wrap3
        width: 27%
    &__wrap4
        width: 26%
    &__wrap4
        padding: 12px 15px
        img
            height: 100%
            width: 100%
    &__link
        font-size: 17px
        line-height: 23px
        color: $black
        cursor: pointer
        transition: all 0.3s
        font-weight: 400
        &:hover
            color: $blue
        & + .h-catalog__link
            margin-top: 30px
    &__btn
        color: $black
        cursor: pointer
        padding: 15px 30px
        transition: all 0.3s
        font-size: 17px
        line-height: 23px
        font-weight: 600
        &:hover
            background: $blue
            color: $white

.main
    &__slider
        background-image: url('../img/main-page/main-bg.svg')
        min-height: 75vh
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        border-radius: 0px 0px 50px 50px
        position: relative
        &-wrap
            position: absolute
            bottom: 0
            left: calc( 50% - 23.5% )
            transform: (-50%, -50%)
            background-color: $white
            width: 47%
            border-radius: 50px 50px 0px 0px
        &-title
            text-align: center
            padding-top: 30px
            padding-bottom: 20px
            color: $blue
            font-weight: 800
            font-size: 3.75rem

.slick-dots
    display: flex
    justify-content: center
    padding: 0
    margin-top: 28px
    li
        list-style-type: none
        button
            border: 1px solid $blue
            border-radius: 100%
            width: 16px
            height: 16px
            font-size: 0 !important
            background: $white
        & + li
            margin-left: 16px
    .slick-active
        button
            background: $blue

.cards
    &__inner
        padding-top: 64px
        padding-bottom: 64px
    &__items
        display: flex
        flex-wrap: wrap
        margin-right: -4%
    &__item
        overflow: hidden
        width: 30%
        margin-right: 3%
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 30px
        &:nth-child(1)
            .cards__item-title
                background: #F03939
        &:nth-child(2)
            .cards__item-title
                background: $orange
        &:nth-child(3)
            .cards__item-title
                background: $green
    &__item-img
        width: 100%
        height: 85%
    &__item-title
        height: 15%
        display: flex
        align-items: center
        justify-content: center
        text-transform: uppercase
        color: $white
        font-weight: 600
        font-size: 1rem
        line-height: 21px

.catalog
    background-color: $green
    border-radius: 30px
    &__inner
        padding-top: 40px
        padding-bottom: 10px
    &__wrap
        display: flex
        justify-content: space-between
        text-transform: uppercase
    &__tabs
        display: flex
        list-style-type: none
        padding: 0
    &__tab
        list-style-type: none
        cursor: pointer
        padding: 9px 28px
        color: $white
        font-weight: 600
        line-height: 25px
        font-size: 1rem
        border-radius: 25px
        transition: 0.3s
        & + .catalog__tab
            margin-left: 40px
        &:hover
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
    &__tab-active
        background: $main-color
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
    &__show
        cursor: pointer
        text-decoration-line: underline
        color: #013100
        font-weight: 400
        line-height: 25px
        font-size: 1rem
        transition: 0.3s
    &__items
        margin-top: 32px
        display: none
        flex-wrap: wrap
        margin-right: -2%
    &__items-active
        display: flex
    &__item
        box-shadow: 0px 2px 25px rgba(113, 113, 113, 0.25)
        background: $white
        border-radius: 30px
        width: 23%
        margin-right: 2%
        margin-bottom: 30px
        padding: 18px 16px
    &__item-wrap
        position: relative
    &__item-favorite
        position: absolute
        left: 0
        top: 0
    &__item-new
        position: absolute
        right: 0
        top: 0
        font-weight: 700
        text-transform: uppercase
        line-height: 16px
        font-size: 0.75rem
        background: $white
        color: #F03939
        padding: 18px 12px
        border-radius: 100%
        border: 1px solid #F03939
        box-sizing: border-box
        z-index: 300
    &__item-img
        border-radius: 30px
        margin: 0 auto
        display: block
        margin-top: 12px
        img
            width: 185px
            height: 185px
    &__item-title
        margin-top: 10px
        font-weight: 700
        line-height: 21px
        font-size: 1rem
        text-align: center
        color: #161616
    &__item-subtitle
        margin-top: 10px
        font-weight: 400
        color: #5B5B5B
        text-align: center
        line-height: 16px
        font-size: .75rem
        padding-left: 5px
        padding-right: 5px
    &__item-wrap2
        text-align: center
        margin-top: 22px
        position: relative
    &__item-stock
        font-size: 0.625rem
        line-height: 14px
        color: #0D4D06
        font-weight: 600
    &__item-cost
        margin-top: 11px
        font-size: 1rem
        font-weight: 600
        line-height: 21px
        color: #1E1E1E
    &__item-basket
        position: absolute
        right: 10px
        bottom: 0
        width: 50px
        height: 50px

.best-deal
    &__inner
        padding-top: 64px
    &__items
        margin-top: 40px
        display: flex
        flex-wrap: wrap
        margin-right: -2%
    &__item
        background: $white
        border-radius: 30px
        width: 23%
        margin-right: 2%
        margin-bottom: 30px
    &__item-img
        height: 80%
        width: 100%
        img
            border-radius: 30px 30px 0 0
            object-fit: cover
            height: 100%
            width: 100%
    &__item-title
        height: 20%
        background: #FFFFFF
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        border-radius: 0px 0px 30px 30px
        display: flex
        align-items: center
        padding-left: 40px
        padding-right: 40px
        font-weight: 600
        line-height: 21px
        color: #383838
        text-transform: uppercase
        text-align: center
        font-size: 1rem
        justify-content: center

.interest-etc
    background: $green !important

.interest
    margin-top: 64px
    background: $orange
    border-radius: 30px
    &__inner
        padding-top: 64px
        padding-bottom: 34px
    .title
        color: $white
    &__sliders
        margin-top: 40px
        position: relative
    &__slider
        padding: 10px
        width: 100%
        .catalog__item
            width: 100%

.slider-arrow
    background: transparent
    border: none
    padding: 0
    position: absolute
    top: 37%
    transform: (-50%, -50%)
    z-index: 1000

.slider-left
    left: -20px

.slider-right
    right: -22px

ul.pagination > li
    margin-left: 24px


ul.pagination > li:first-child
    margin-left: 0

nav
    width: 100%
    justify-content: center
    display: flex

ul.pagination
    display: flex
    list-style: none

.footer
    margin-top: 150px
    border-radius: 30px 30px 0 0
    background: $main-color
    &__inner
        padding-top: 32px
        padding-bottom: 32px
        position: relative
    &__up
        top: 16px
        left: 0
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        background: $white
        width: 40px
        height: 42px
    &__links
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__link
        font-weight: 400
        font-size: 14px
        line-height: 19px
        color: $white
        &:hover
            color: $white
    &__wrap
        margin-top: 40px
        margin-bottom: 32px
        display: flex
        justify-content: center
    &__social
        display: block
        & + .footer__social
            margin-left: 50px
    &__title
        font-weight: 400
        color: $white
        font-size: 15px
        line-height: 20px
        text-align: center

.search-input
  background: #fff
  width: 100%
  position: relative

.search-input input
  height: 55px
  width: 100%
  outline: none
  border: none
  border-radius: 5px
  padding: 0 60px 0 20px
  font-size: 18px
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1)


.search-input.active input
  border-radius: 5px 5px 0 0


.search-input .autocom-box
  padding: 0
  opacity: 0
  pointer-events: none
  max-height: 280px
  overflow-y: auto
  background-color: inherit
  border-radius: 0 0 5px 5px



.search-input.active .autocom-box
  padding: 10px 8px
  opacity: 1
  pointer-events: auto
  position: relative
  z-index: 1000

.autocom-box li
  list-style: none
  padding: 8px 12px
  display: none
  width: 100%
  cursor: default
  border-radius: 3px


.search-input.active .autocom-box li
  display: block

.autocom-box li:hover
  background: #efefef

.burger
    display: block
    background-color: transparent
    border: none
    outline: none
    padding: 0
    cursor: pointer
    z-index: 25
    margin-right: 5px


.burger-line
    background-color: #fff
    width: 15px
    height: 2px
    display: block
    margin-bottom: 3px
    transition: opacity .7s


.burger.burger--active
    .burger-line
        opacity: 0
        transition: opacity 0s

    &::after
        width: 20px
        transform: translateY(-4px) rotate(-135deg)

    &::before
        width: 20px
        transform: translateY(6px) rotate(135deg)



.burger::before,
.burger::after
    content: ''
    transition: transform .2s linear
    width: 15px
    height: 2px
    background-color: #fff
    display: block
    margin-bottom: 3px


.burger::after
    margin-bottom: 0
    margin-left: auto



@import "media"
